body {
  background-color: #333;
  color: #fff;
}

.container {
  background-color: #444;
  border: 1px solid #555;
}

.form-control {
  background-color: #555;
  color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  background-color: #666;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

iframe {
  background-color: #333;
  border: 1px solid #555;
}

h1 {
  color: #fff;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
  transform: rotate(360deg);
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.btn-danger {
  background-color: #d9534f;
  color: white;
  border: 1px solid #d9534f;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-danger:hover {
  background-color: #c9302c;
  transform: scale(1.1);
}

.btn-danger:active {
  background-color: #ac2925;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
